OPENAI_API_KEY=sua_chave
DISPLAY=:1
REDIS_URL=redis://redis:6379/0
NOVNC_URL=https://seu-novnc.exemplo.com
WORKER_URL=http://56.124.73.211:8787
SECRET_KEY=django-insecure-alaha22-dev-key
DEBUG=1
ALLOWED_HOSTS=*
